---
import Card from "@components/Card.astro";
import Head from "@components/util/Head.astro";
import HomeHeader from "@components/home/HomeHeader.astro";
import Footer from "@components/util/Footer.astro";
import "@styles/default.css";

import githubLogo from "public/img/github-mark.png"
import xLogo from "public/img/logo-black.png"
import { Image } from "astro:assets";
---
<style>
	.cardsArea {
		display: grid;
		grid-template-rows: subgrid;
		gap: 50px 100px;
		margin-top: 100px;
	    margin-bottom: 100px;
		min-height: 500px;
	}
	.logo-container {
		display: flex;
		gap: 40px;
		justify-content: center;
		margin: 25px;
	}
	.logo {
		width: 50px;
		height: 50px;
	}
	@media (min-width: 900px) {
		.cardsArea {
			grid-template-columns: repeat(2, 1fr);
			margin-left: 150px;
			margin-right: 150px;
		}
	}
	@media (max-width: 899px) {
		.cardsArea {
			grid-template-columns: 1fr;
			margin-left: 50px;
			margin-right: 50px;
		}
	}
</style>
<html lang="ja">
	<Head title="Welcome to kitashima.dev" description="kitashima.devのトップページ"/>
	<body>
		<HomeHeader/>
		<div class="cardsArea">
			<Card href="https://tech.n-island.dev" title="Blog" body="技術ブログ" target="_blank"/>
			<Card href="./portfolio" title="Portfolio" body="制作物・スキルなど"/>
			<Card href="./about" title="About" body="経歴など"/>
			<Card href="./others" title="Others" body="その他リンク等"/>
		</div>
		<div class="logo-container">
			<a href="https://github.com/kitashimauni" target="_blank">
				<Image src={githubLogo} alt="GitHubのリンク" class="logo"/>
			</a>
			<a href="https://x.com/nibs_tuat" target="_blank">
				<Image src={xLogo} alt="Xのリンク" class="logo"/>
			</a>
		</div>
		<Footer/>
	</body>
</html>	