---
import { Image } from "astro:assets";

import HeaderImage from "public/img/icon.png"
---

<style>
    @font-face {
        font-family: "titlefont";
        src: url("/fonts/Corporate-Logo-Rounded-Bold-ver3.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    .header-container {
        display: flex;
        gap: 50px;
        width: 100%;
        height: 200px;
        background-color: rgb(227, 246, 233);
    }
    .headerImage {
        object-fit: contain;
        object-position: left;
        height: 100%;
        width: auto;
        margin-left: 50px;
    }
    .headerText {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-family: "titlefont", sans-serif;
        font-size: clamp(10pt, 4vw, 50pt);
    }
	@media (max-width: 699px) {
		.header-container {
            height: 100px;
            gap: 25px
        }
        .headerImage {
            margin-left: 25px;
        }
	}
</style>

<header>
    <div class="header-container">
        <Image src={HeaderImage}, alt="ヘッダ画像", class="headerImage"/>
        <div class="headerText">Welcome to kitashima.dev</div>
    </div>
</header>