---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
import "@styles/global.css"
---
<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>