---
const platform: String = "";
---

<style>
    footer {
        /* footerを下部に固定する */
        position: sticky;
        top: 100vh;
        
        background-color: rgb(240, 240, 240);
        min-height: 30px;
        width: 100%;
    }
    .copyRightText {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        height: 30px;
    }
</style>
<footer>
    <div class="copyRightText">Copyright © 2024 Daiki Kitashima All Rights Reserved.</div>
</footer>